/* 信息页样式 */

.main .head {
    width: 100%;
    line-height: 16vw;
    margin-bottom: 1px;
    background: #fff;
}

.main .head a {
    color: #333;
    display: flex;
    align-items: center;
}

.left {
    font-size: 4vw;
    margin-left: 4vw;
}

.left span {
    margin-left: 2.6666vw;
}

.imgout {
    display: inline-block;
    width: 10.67vw;
    height: 10.67vw;
    border-radius: 50%;
    background-color: red;
}

.fkinhead {
    height: 7vw;
    margin-left: 4vw;
    width: 2px;
    background: #333;
}

.left :last-child {
    font-size: 3.733333vw;
    line-height: initial;
}

.body {
    width: 100%;
    min-height:92vw;
    background: #fff;
}

.body ul {
    margin-left: 4vw;
    padding-top: 5.333333vw;
}

.body ul li {
    line-height: 8.8vw;
    margin-bottom: 4vw;
}

.body label {
    vertical-align: top;
}

.body input {
    border: 1px solid #999;
    width: 62.933333vw;
    height: 8.5333333vw;
    border-radius: 5px;
    text-indent: 3vw;
    font-size: 4vw;
}
.ultext{
    margin-top: 5.333333vw;
    color:#999;
    font-size: 3.2vw;
    margin-left:22vw;
}
#sub {
    width: 53.333333vw;
    height: 8.8vw;
    background: #db0000;
    border-radius: 5px;
    font-size: 4.266666vw;
    color: #fff;
    margin: 6.666666vw auto 6.666666vw 20vw;
}


/* 底部选中临时效果 */

.footer ul :last-child a {
    color: #db0000;
}