/* 设置等级样式 */

.main ul li {
    width: 100%;
    height: 21.333333vw;
    margin-bottom: 1px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main ul li a {
    color: #333;
    display: flex;
    align-items: center;
}

.left {
    margin-left: 4vw;
}

.imgout {
    display: inline-block;
    width: 10.67vw;
    height: 10.67vw;
    border-radius: 50%;
    background-color: red;
}

.left span {
    margin-left: 2.6666vw;
}

.left span p:first-child {
    font-size: 4.2666666vw;
    line-height: 4.2666666vw;
}

.left span .follow-status {
    margin-top: 3.2vw;
    font-size: 3.4666666vw;
    line-height: 3.4666666vw;
}

.left span .follow {
    display: block;
    color: #0012fe;
}

.left span .unfollow {
    display: none;
    color: #999
}

.right {
    font-size: 4.266666vw;
    margin-right: 4vw;
    width: 23.2vw;
    height: 10.666666vw;
    color: #fff;
    background-color: #db0000;
    border-radius: 1.5vw;
}

#set {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#set img {
    position: absolute;
    right: 0;
    top: -10vw;
}

.inset {
    width: 89.333333vw;
    height: 56vw;
    background-color: #fff;
    margin: auto;
    border-radius: 1.5vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
}


/*
        @ setLevelTitle 
        @ setLevelName
        */

.slT {
    font-weight: bold;
    line-height: 5.333333vw;
    font-size: 5.333333vw;
    color: #333;
    text-align: center;
    margin-top: 9.333333vw;
}

.slN {
    line-height: 4.8vw;
    font-size: 4.8vw;
    color: #333;
    text-align: center;
    margin-top: 8vw;
}


/* 
        @ setLevelStatus
        */

.slS {
    margin-top: 6.666666vw;
    display: flex;
    justify-content: space-around;
}

.slS button {
    width: 25.333333vw;
    color: #fff;
    background-color: #333;
    line-height: 12vw;
    font-size: 6vw;
}

.slS button:focus {
    background-color: #db0000;
}

.footer ul :first-child a {
    color: #db0000;
}