<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>供应商管理</title>
    <!-- element-ui样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <style type="text/css">
        body {
            background-color: #a29e9e;
            font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-row class="row-bg" type="flex" justify="center">
            <el-col :span="16">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">所有供应商列表</span>
                        <el-button style="float: right;" type="primary" icon="plus">新增供应商</el-button>
                    </div>
                    <div>
                        <el-table :data="rows" border style="width: 100%">
                            <el-table-column align="center" prop="Name" label="供应商名称"></el-table-column>
                            <el-table-column align="center" prop="Edtel" label="紧急对接人及联系方式"></el-table-column>
                            <el-table-column align="center" prop="Rctel" label="退换货联系人及联系方式"></el-table-column>
                            <el-table-column align="center" prop="Ctime" label="结单时间"></el-table-column>
                            <el-table-column align="center" prop="Ctype" label="结单方式"></el-table-column>
                            <el-table-column align="center" prop="Edit" label="操作"></el-table-column>
                        </el-table>
                    </div>
                    <div>
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 40]" :page-size="100" layout="sizes, prev, pager, next" :total="40">
                        </el-pagination>
                    </div>
                    <!-- <ul class="pagination pull-right">
                        <template v-for="page in Math.ceil(rows.length/pagesize)">
                            <li v-on:click="PrePage()" id="prepage" v-if="page==1" class="disabled">
                                <a href="#">上一页</a>
                            </li>
                            <li v-if="page==1" class="active" v-on:click="NumPage(page, $event)">
                                <a href="#">{{page}}</a>
                            </li>
                            <li v-else v-on:click="NumPage(page, $event)">
                                <a href="#">{{page}}</a>
                            </li>
                            <li id="nextpage" v-on:click="NextPage()" v-if="page==Math.ceil(rows.length/pagesize)">
                                <a href="#">下一页</a>
                            </li>
                        </template>
                    </ul> -->
                </el-card>
            </el-col>
        </el-row>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <!-- element-ui组件 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        //Model
        data = {
            rows: [{
                Id: 1,
                Name: '糖小希',
                Edtel: '张小希/18667111111',
                Rctel: '赵小希/15574838889',
                Ctime: '00:00',
                Ctype: '表格1',
                Edit: '查看详情'
            }, {
                Id: 2,
                Name: '糖大希',
                Edtel: '张大希/18667111111',
                Rctel: '赵大希/15574838889',
                Ctime: '06:00',
                Ctype: '表格2',
                Edit: '查看详情'
            }, {
                Id: 3,
                Name: '糖红希',
                Edtel: '张红希/18667111111',
                Rctel: '赵红希/15574838889',
                Ctime: '12:00',
                Ctype: '表格3',
                Edit: '查看详情'
            }, {
                Id: 4,
                Name: '糖蓝希',
                Edtel: '张蓝希/18667111111',
                Rctel: '赵蓝希/15574838889',
                Ctime: '18:00',
                Ctype: '表格4',
                Edit: '查看详情'
            }, {
                Id: 5,
                Name: '糖黄希',
                Edtel: '张黄希/18667111111',
                Rctel: '赵黄希/15574838889',
                Ctime: '24:00',
                Ctype: '表格5',
                Edit: '查看详情'
            }, ],
            pagesize: 3,
            curpage: 1, //当前页的页码
        };

        //ViewModel
        new Vue({
            el: '#app',
            data: data,
            methods: {
                handleSizeChange(val) {
                    console.log('每页 ${val} 条');
                },
                handleCurrentChange(val) {
                    console.log('每页 ${val} 条');
                },
                //上一页方法
                PrePage: function(event) {
                    $(".pagination .active").prev().trigger("click");
                },
                //下一页方法
                NextPage: function(event) {
                    $(".pagination .active").next().trigger("click");
                },
                //点击页码的方法
                NumPage: function(num, event) {
                    if (this.curpage == num) {
                        return;
                    }
                    this.curpage = num;
                    $(".pagination li").removeClass("active");
                    if (event.target.tagName.toUpperCase() == "LI") {
                        $(event.target).addClass("active");
                    } else {
                        $(event.target).parent().addClass("active");
                    }
                    if (this.curpage == 1) {
                        $("#prepage").addClass("disabled");
                    } else {
                        $("#prepage").removeClass("disabled");
                    }
                    if (this.curpage == Math.ceil(this.rows.length / this.pagesize)) {
                        $("#nextpage").addClass("disabled");
                    } else {
                        $("#nextpage").removeClass("disabled");
                    }
                }
            }
        });
    </script>
</body>

</html>