<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        table thead tr th {
            text-align: center;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div style="padding:20px;" id="app" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">所有供应商列表</div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>供应商名称</th>
                        <th>紧急对接人及联系方式</th>
                        <th>退换货联系人及联系方式</th>
                        <th>结单时间</th>
                        <th>结单方式</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(item, index) in data ">
                        <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                            <td>{{item.name}}</td>
                            <td>{{item.emergencyDocking}}/</td>
                            <td>{{item.returnContactPerson}}/</td>
                            <td>{{item.statementTime}}</td>
                            <td>{{item.statementWay}}</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <nav style="float:right;">
            <ul class="pagination pagination-lg">
                <template v-for="page in Math.ceil(data.length/pagesize)">
                    <li v-on:click="PrePage()" id="prepage" v-if="page==1" class="disabled"><a href="#">上一页</a></li>
                    <li v-if="page==1" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li id="nextpage" v-on:click="NextPage()" v-if="page==Math.ceil(data.length/pagesize)"><a href="#">下一页</a></li>
                </template>
            </ul>
        </nav>
    </div>
    <script src="http://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        //ViewModel
        var vue = new Vue({
            el: '#app',
            data: {
                data: [{
                    "basicRemark": "1",
                    "diamondOne": "1",
                    "diamondTwo": "1",
                    "distribution": false,
                    "dockingWay": "2",
                    "eDPhone": "21",
                    "emergencyDocking": "2",
                    "exceptionProduct": false,
                    "gatheringAccount": "1",
                    "gatheringBank": "1",
                    "gatheringBranch": "1",
                    "goldOne": "1",
                    "goldTwo": "1",
                    "id": 3,
                    "name": "eqitie",
                    "otherRCWay": "1",
                    "otherWay": "1",
                    "password": "1",
                    "productQuantity": "2",
                    "rCAddress": "1",
                    "rCPPhone": "1",
                    "reconciliationDate": "1",
                    "remitWay": "1",
                    "returnContactPerson": "12",
                    "sevenDayNoReasonreturn": false,
                    "silverOne": "1",
                    "silverTwo": "1",
                    "statementPeriod": "1",
                    "statementTime": "1",
                    "statementWay": "1",
                    "supplierAccount": "11",
                    "tTFinshTime": "1",
                    "tTPPhone": "1",
                    "tTPerson": "1",
                    "tTRrmark": "1",
                    "technologyTransfer": false
                }, {
                    "basicRemark": "1",
                    "diamondOne": "1",
                    "diamondTwo": "1",
                    "distribution": false,
                    "dockingWay": "2",
                    "eDPhone": "21",
                    "emergencyDocking": "2",
                    "exceptionProduct": false,
                    "gatheringAccount": "1",
                    "gatheringBank": "1",
                    "gatheringBranch": "1",
                    "goldOne": "1",
                    "goldTwo": "1",
                    "id": 4,
                    "name": "tangxiaoxi",
                    "otherRCWay": "1",
                    "otherWay": "1",
                    "password": "1",
                    "productQuantity": "2",
                    "rCAddress": "1",
                    "rCPPhone": "1",
                    "reconciliationDate": "1",
                    "remitWay": "1",
                    "returnContactPerson": "12",
                    "sevenDayNoReasonreturn": false,
                    "silverOne": "1",
                    "silverTwo": "1",
                    "statementPeriod": "1",
                    "statementTime": "1",
                    "statementWay": "1",
                    "supplierAccount": "11",
                    "tTFinshTime": "1",
                    "tTPPhone": "1",
                    "tTPerson": "1",
                    "tTRrmark": "1",
                    "technologyTransfer": false
                }, {
                    "basicRemark": "1",
                    "diamondOne": "1",
                    "diamondTwo": "1",
                    "distribution": false,
                    "dockingWay": "2",
                    "eDPhone": "21",
                    "emergencyDocking": "2",
                    "exceptionProduct": false,
                    "gatheringAccount": "1",
                    "gatheringBank": "1",
                    "gatheringBranch": "1",
                    "goldOne": "1",
                    "goldTwo": "1",
                    "id": 5,
                    "name": "vital",
                    "otherRCWay": "1",
                    "otherWay": "1",
                    "password": "1",
                    "productQuantity": "2",
                    "rCAddress": "1",
                    "rCPPhone": "1",
                    "reconciliationDate": "1",
                    "remitWay": "1",
                    "returnContactPerson": "12",
                    "sevenDayNoReasonreturn": false,
                    "silverOne": "1",
                    "silverTwo": "1",
                    "statementPeriod": "1",
                    "statementTime": "1",
                    "statementWay": "1",
                    "supplierAccount": "11",
                    "tTFinshTime": "1",
                    "tTPPhone": "1",
                    "tTPerson": "1",
                    "tTRrmark": "1",
                    "technologyTransfer": false
                }, ],
                status: '',
                pagesize: 9,
                curpage: 1, //当前页的页码
            },
            methods: {
                //上一页方法
                PrePage: function (event) {
                    $(".pagination .active").prev().trigger("click");
                },
                //下一页方法
                NextPage: function (event) {
                    $(".pagination .active").next().trigger("click");
                },
                //点击页码的方法
                NumPage: function (num, event) {
                    if (this.curpage == num) {
                        return;
                    }
                    this.curpage = num;
                    $(".pagination li").removeClass("active");
                    if (event.target.tagName.toUpperCase() == "LI") {
                        $(event.target).addClass("active");
                    } else {
                        $(event.target).parent().addClass("active");
                    }
                    if (this.curpage == 1) {
                        $("#prepage").addClass("disabled");
                    } else {
                        $("#prepage").removeClass("disabled");
                    }
                    if (this.curpage == Math.ceil(this.data.length / this.pagesize)) {
                        $("#nextpage").addClass("disabled");
                    } else {
                        $("#nextpage").removeClass("disabled");
                    }
                }
            }
        });
    </script>
</body>

</html>